<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<!-- 启用注解方式配置 -->
	<context:annotation-config />
	<!-- 指定扫描bean的包 -->
	<context:component-scan base-package="com.youren.bbs"/>

	<!-- 引入属性文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
				<value>classpath:email.properties</value>
			</list>
		</property>
	</bean>

	<!-- 配置数据源（druid的连接池）-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${driver}"/>
		<property name="url" value="${url}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
		<property name="maxActive" value="${maxActive}" /><!-- 最大连接数 -->
		<property name="initialSize" value="${initialSize}"/><!-- 初始化连接数 -->
	</bean>

    <!--配置MyBatis的sqlSessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/><!--数据源-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/><!-- 配置Mapper.xml的目录 -->
        <property name="typeAliasesPackage" value="com.youren.bbs.entity"/><!-- 配置实体类包做为别名 -->
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<!--使用下面的方式配置参数，一行配置一个 -->
						<value>
							helperDialect=mysql
							offsetAsPageNum=true
							rowBoundsWithCount=true
							pageSizeZero=true
							reasonable=true
							supportMethodsArguments=true
						</value>
					</property>
				</bean>
			</array>
		</property>
    </bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.youren.bbs.mapper" /><!--配置Mapper的包-->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>


	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!--配置jpa适配器-->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="packagesToScan" value="com.youren.bbs"/>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop><!--执行的时候是否显示SQL-->
				<prop key="hibernate.format_sql">false</prop><!--执行的时候SQL是否格式化-->
				<!--<prop key="hibernate.hbm2ddl.auto">update</prop>&lt;!&ndash;如果没有是否创建&ndash;&gt;-->
			</props>
		</property>
	</bean>

	<!--spring data jpa扫描的Dao包-->
	<jpa:repositories base-package="com.youren.bbs.dao" entity-manager-factory-ref="entityManagerFactory"/>

	<!-- Druid -->
	<bean id="druid-stat-interceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor"/>
	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut" scope="prototype">
		<property name="patterns">
			<list>
				<value>com.oaec.ssm.service.*</value>
				<value>com.oaec.ssm.dao.*</value>
			</list>
		</property>
	</bean>
	<!-- 切入点配置 -->
	<aop:config proxy-target-class="true">
		<aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="druid-stat-pointcut" />
	</aop:config>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>

	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>


	<!-- 导入email配置文件 -->
	<import resource="applicationContext-email.xml"/>

</beans>