body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.box-left{
    border-radius: 4px;
    padding: 3px;
    background-color: #FFFFFF;
    top: 0;
    text-align: center;
}
.box-left p{
    text-align: center;
}
.box-middle{
    border-radius: 4px;
    min-height: 600px;
    margin: 0 auto 20px auto;
}
.box-right{
    border-radius: 4px;
    z-index: 2;
    padding: 3px;
}
.admin-global{
    height: 650px;
    width: 100%;
    padding:10px 10px;
    background-color:#FFFFFF;
    box-shadow: 2px 2px 2px #888888;
}
.admin-rightbox{
    width:86%;
    height: 630px;
}