<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.youren.bbs.mapper.FollowedMapper">

	<resultMap id="followedResultMap" type="Followed">
		<result property="createTime" column="create_time" />
		<association property="userId" column="user_id" javaType="User">
			<id property="id" column="id" />
			<result property="username" column="username"/>
			<result property="headshot" column="headshot"/>
		</association>

		<association property="followeId" column="followed_user_id" javaType="User">
			<id property="id" column="fid" />
			<result property="username" column="fusername"/>
			<result property="headshot" column="fheadshot"/>
		</association>
	</resultMap>

    <insert id="create" parameterType="Followed">
		insert into t_followed(followed_user_id,user_id,create_time)
		values(#{followeId.id},#{userId.id},#{createTime})
	</insert>

	<delete id="delete" parameterType="Followed">
		delete from t_followed where followed_user_id=#{followeId.id} and user_id=#{userId.id}
	</delete>

	<select id="findByFUidUid"  resultMap="followedResultMap" parameterType="Followed">
		select * from t_followed where user_id=#{userId.id} and followed_user_id=#{followeId.id}
	</select>

	<select id="findByUid"  resultMap="followedResultMap" parameterType="Followed">
		select u.id,u.username,u.headshot,
		fu.id fid,fu.username fusername,fu.headshot fheadshot,
		f.create_time
		from t_followed f
		left join t_user u on u.id = f.user_id
		left join t_user fu on fu.id = f.followed_user_id
		where user_id=#{userId.id};
	</select>

	<select id="findByFuid"  resultMap="followedResultMap" parameterType="Followed">
		select u.id,u.username,u.headshot,
		fu.id fid,fu.username fusername,fu.headshot fheadshot,
		f.create_time
		from t_followed f
		left join t_user u on u.id = f.user_id
		left join t_user fu on fu.id = f.followed_user_id
		where followed_user_id=#{followeId.id};
	</select>

	<select id="findNumber"  resultType="Integer"  parameterType="Long">
		select count(*) counts from t_followed where followed_user_id=#{userId.id};
	</select>

	<select id="findFans"  resultType="Integer"  parameterType="Long">
		select count(*) counts from t_followed where user_id=#{followeId.id};
	</select>

</mapper>